*{
    margin: 0px;
    padding: 0px;
}

.header{
    width: 99%;
    background-position: right;
    background-size: 100%;
    background:white;
    border-bottom:1px solid black ;
}
ul{
    padding: 25px 5px;
    list-style-type: none;
    float: right;
    margin-right: 50px;
    
}
ul li{
    display: inline-block;
    margin-left: 60px;
}
ul li a{
    text-decoration: none;
    color:rgb(128, 128, 128);
    font-size: 7mm;
    font-family: StratumBold,Arial,sans-serif;
    font-weight: bold;
  
}
ul li a:hover{
    color: rgb(49, 49, 49);
}
.Nav-topbar{
 display: none;
}
#brand{
   
    width: 140px;
    height: 50px;
    margin-left: 50px;
    margin-top:15px;
    float: left;
} 
.mainimg{
    width: 100%;
    height: 500px;
    background-image:  url(img/mainpic.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.mainimg h1{
    width: 100%;
    color:rgb(0, 0, 0);
    position: absolute;
    display: flex;
    
    top:22%;
    font-size: 75px;
    font-family:"Montserrat bold", sans-serif;
    font-weight: 900;
    
    
}
#main-title{
    width: 600px;
    top:25%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
    
    
}

#main-subtitle{
    width: 520px;
    top:48%;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
    display: block;
   
    
}

.mainimg h2{
    width: 40%;
    margin-left:30px;
    font-size:40px;
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: left;
    font-family:"Montserrat bold", sans-serif;
    
}

.mainimg li{
    display: block;
    text-align: center;
    padding:5px 10px;
    width: 100%;
    margin-top: 200px;
    margin-left: 160px;
    border: 2px solid;
    border-radius: 100px;
    border-color:white;
    background-color:black;
    font: 40px;
}
.Problem-Statment{
    width: 100%;
    height: 900px;
    color: rgb(63, 62, 62);
    border-bottom: 1px solid rgb(184, 184, 184);
    
   
}
.Title-Position{
    width: 100%;
    height: 100px;
    
}
.Problem-title{
    color: black;
    padding:30px 10px;
    font-family: "Montserrat bold", sans-serif;
    text-align: center;
    font-size:40px;
    font-weight: bold;
    
   
}
.Problem-vid{
    width: 100%;
    height: 35%;
    margin-top: 30px;
    
}
#Problem-vid{
    height: 300px;
    width:550px;
    display: flex;
    background-size:cover;
    margin:0 auto;

} 
.Problem-pictures{
    width: 100%;
    height: 33%;
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 20px;
    display:flex; 
    flex-wrap:wrap;

    
    
}
.Problem-position{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.Problem1-border{
    margin: 0 auto;
    text-align: center;
    margin-left: 150px;
    padding: 10px 15px;
    display: inline-block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}

#Problem1{
    height: 150px;
    width: 170px;
    padding: 10px 0px;

}


#sub-p1{
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    width: 250px;  
    margin-left: 20px;

}
#Problem2{
    height: 150px;
    width: 170px;
    padding: 10px 0px;
    
}
#sub-p2{
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    width: 250px;  
    margin-left: 30px;

}


#Problem3{
    height: 150px;
    width: 170px;
    padding: 10px 0px;
    
}

#sub-p3{
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    width: 250px;  
    margin-left: 10px;

}


.contact{
    background:rgb(255, 130, 12);
    width: 100%;
    height: 600px;
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-align: center;
}
.Contactboarder{
    position: relative;
    margin-left:200px ;
    border-radius: 0.25rem;
    background-color: rgb(236, 236, 236);
    padding: 30px;
    width: 30%;
    height: 400px;
    margin: 0 auto;
    align-items: center;
    
    
}
.infoContact{
    padding: 40px 30px 15px 10px;
    color: white;
    font-size: 12mm;
    font-weight: bold;
}
.InputEmail{
    display: flex;
    
}
#emailtext{
    margin-left:10px;
    margin-top: 8px;
    height: 30px;
    width: 100%;
    font-size: 5mm;
    border-radius: 20px;
    outline:none;
    text-indent: 10px;
    border: 3px solid black;
}
.InputSubject{
    display: flex;
    margin-top: 5px;
}
#Subjecttext{
    margin-left:10px;
    margin-top: 8px;
    height: 30px;
    width: 100%;
    font-size: 5mm;
    border-radius: 20px;
    outline:none;
    text-indent: 10px;
    border: 3px solid black;
}
.InputMessage{
    display: flex;
    margin-top: 5px;
  
}
#Messagetext{
    padding: 3px 12px;
    margin-left:10px;
    margin-top: 8px;
    height: 200px;
    width: 100%;
    font-size: 5mm;
    border-radius: 20px;
    outline:none;
    border: 3px solid black;
}
.Submit{
    margin-top: 10px;
    font-weight: bold;

    
}
#Submitbutton{
    height: 40px;
    width: 50%;
    border-radius: 20px;
    background-color: black;
    color:white;
    font-weight: bold;
    font-size: 5mm;
    outline:none;
    border: 3px solid black;
    
}
.creator{
    color:black;
    margin-top: 10px;
    
}
b{
    color: rgb(255, 115, 0);
}

@media (max-width:1200px){
    
     
    .Problem-Statment{
        width: 70%;
        height: 1300px;
        margin:0 auto;
        
    }
    .Problem-vid{
        height: 22%;
       
    }
    #Problem-vid{
        width:450px;
    }
    #sub-p1{
        width: 100%;
        margin-left: unset;
    }
    #sub-p2{
        width: 100%;
        margin-left: unset;
    }
    #sub-p3{
        width: 100%;
        margin-left: unset;
    }


}
@media (max-width: 900px){
    #main-title{
        font-size: 60px;
        width: 450px;
        top:25%;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 30px;
        margin-inline-end: 0px;
        
        
    }
    #main-subtitle{
        width: 400px;
        top:44%;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 30px;
        margin-inline-end: 0px;
        display: block;
        font-size: 35px;
       
        
    }
}

@media (max-width:800px){
    #Problem-vid{
        width:350px;
    }
    .Problem-Statment{   
        height: 1450px;
        
    }

}
@media (max-width:1200px){
    .Toggle-nav{
        height:80px;
        width:80px;
        float: right;
        
    }
    #Togglepic{
        background-image: url(img/Toggle.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center;
        height: 40px;
        width: 40px;
        margin-top: 25px;
        cursor: pointer;
        

    }
    .navbar{
        display: none;
    }
    .Nav-topbar {
        display:none;
        width: 100%;
        height: 200px;
        background-color: white;
        position: relative;
        transition: all 0.4s ease-in-out;

    }
     .Nav-topbar ul{
        padding: 25px 5px;
        display: block;
        float: unset;
        margin-right: 50px;
        visibility:visible;
        transition: all 0.4s ease-in-out;
       
       
    }
    
    .Nav-topbar ul li{
        display:block;
        text-align: center;
        padding:10px;
        

    }
    
    .Nav-topbar ul li a{
        text-decoration: unset;
        opacity: 0;
        transition: all 0.4s ease-in-out;

    } 
}
@media(max-width:750px){
    .Contactboarder{
        width: 75%;
    }
}



      

