*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:rgb(183, 235, 248)
}

.header{
    background-position: right;
    background-size: 100%;
    background:white;
    height: 85px;
    border:solid 1px rgb(167, 167, 167);
}

ul{
    padding: 25px 5px;
    list-style-type: none;
    float: right;
    margin-right: 50px;
}
ul li{
    display: inline-block;
    margin-left: 60px;
}
ul li a{
    text-decoration: none;
    color:rgb(128, 128, 128);
    font-size: 7mm;
    font-family: StratumBold,Arial,sans-serif;
    font-weight: bold;
  
}
ul li a:hover{
    color: rgb(49, 49, 49);
}
.Nav-topbar{
 display: none;
}
#brand{
   
    width: 120px;
    height: 55px;
    margin-left: 50px;
    margin-top:15px;
    float: left;
} 
.Tittlespacing{
    padding: 10px 0px 30px 1px;
}
.Producttitle{
    background-color: white;
    text-align: center;
    margin-left: 41%;
    margin-top:30px ;
    font-family: StratumBold,Arial,sans-serif;
    padding: 10px;
    width: 200px;
}
.Products{
    display: flex;
    padding: 10px 1px;
    margin-left: 3%;
    
}
.box{
    height: 320px;
    width: 350px;
    background-color: white;
    display: inline-block;
    margin-left: 3%;
    text-align: center;
    margin-top: 10px;
}
#Bottle{
    height: 200px;
    margin-top: 10px;
}
#Productname{
    font-family: Impact, fantasy;
    margin-top:3px;
    font-weight: 530;
    font-size: 5mm;
}
#price{
    font-family: Impact, fantasy;
    margin-top:5px;
    font-weight: 530;
    font-size: 4mm;
}
#Buy{
    font-family: "Lucida Console", "Courier New", monospace;
    margin-left: 35%;
    margin-top:12px;
    font-weight: bold;
    font-size: 4mm;
    word-spacing: -3px;
    border: 3px solid rgb(5, 199, 5);
    background-color:rgb(5, 199, 5) ;
    color:white;
    padding: 3px;
    width: 100px;
}
.SwitchPage{
    text-align: center;
    list-style-type: none;

}

.Pages{
    text-decoration: none;
    width: 20px;
    height: 20px;
    margin-top: 50px;
    display: inline-block;
    margin-left: 1%;
    text-align: center;
    border:3px solid white;
    background-color: white;
    color: black;
    font-family: StratumBold,Arial,sans-serif;
    font-weight: bold;

}
#designpage{
    text-decoration: none;
    color: black;
}
.contact{
    background:rgb(255, 130, 12);
    width: 100%;
    height: 600px;
    font-family: AdihausDIN,Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-align: center;
}
.Contactboarder{
    position: relative;
    margin-left:200px ;
    border-radius: 0.25rem;
    background-color: rgb(236, 236, 236);
    padding: 30px;
    width: 30%;
    height: 400px;
    margin: 0 auto;
    align-items: center;
    
    
}
.infoContact{
    padding: 40px 30px 15px 10px;
    color: white;
    font-size: 12mm;
    font-weight: bold;
}
.InputEmail{
    display: flex;
    
}
#emailtext{
    margin-left:10px;
    margin-top: 8px;
    height: 30px;
    width: 100%;
    font-size: 5mm;
    border-radius: 20px;
    outline:none;
    text-indent: 10px;
    border: 3px solid black;
}
.InputSubject{
    display: flex;
    margin-top: 5px;
}
#Subjecttext{
    margin-left:10px;
    margin-top: 8px;
    height: 30px;
    width: 100%;
    font-size: 5mm;
    border-radius: 20px;
    outline:none;
    text-indent: 10px;
    border: 3px solid black;
}
.InputMessage{
    display: flex;
    margin-top: 5px;
  
}
#Messagetext{
    padding: 3px 12px;
    margin-left:10px;
    margin-top: 8px;
    height: 200px;
    width: 100%;
    font-size: 5mm;
    border-radius: 20px;
    outline:none;
    border: 3px solid black;
}
.Submit{
    margin-top: 10px;
    font-weight: bold;

    
}
#Submitbutton{
    height: 40px;
    width: 50%;
    border-radius: 20px;
    background-color: black;
    color:white;
    font-weight: bold;
    font-size: 5mm;
    outline:none;
    border: 3px solid black;
    
}
.creator{
    color:black;
    margin-top: 10px;
    
}
b{
    color: rgb(255, 115, 0);
}
@media (max-width:1200px){
    .Toggle-nav{
        height:80px;
        width:80px;
        float: right;
        
    }
    #Togglepic{
        background-image: url(img/Toggle.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position:center;
        height: 40px;
        width: 40px;
        margin-top: 25px;
        cursor: pointer;
        

    }
    .navbar{
        display: none;
    }
    .Nav-topbar {
        display:none;
        width: 100%;
        height: 200px;
        background-color: white;
        position: relative;
        transition: all 0.4s ease-in-out;

    }
     .Nav-topbar ul{
        padding: 25px 5px;
        display: block;
        float: unset;
        margin-right: 50px;
        visibility:visible;
        transition: all 0.4s ease-in-out;
       
       
    }
    
    .Nav-topbar ul li{
        display:block;
        text-align: center;
        padding:10px;
        

    }
    
    .Nav-topbar ul li a{
        text-decoration: unset;
        opacity: 0;
        transition: all 0.4s ease-in-out;

    }  
}
@media (max-width:1100px){
    .box{
        background-color: blue;
    }
}
@media(max-width:750px){
    .Contactboarder{
        width: 75%;
    }
}
